<section id="mynest-info" data-nest-id="{{nestData.id}}">
    <div class="title has-background-primary has-text-light p-4">My Nest</div>
    <div class="block is-size-3 p-4">{{nestData.nest_name}}</div>
    <div class="block is-size-4 has-text-primary has-text-weight-semibold p-4">Share ID: {{nestData.share_id}}</div>
    <div class="columns p-4">
        <div id="nest-info-card" class="column card is-3">
            <div class="title is-size-5">Nest Info</div>
            <div>{{nestData.street}}</div>
            <div>{{nestData.city}}, {{nestData.state}}</div>
            <div>{{nestData.zip}}</div>
        </div>
        <div id="nestmates-card" class="column card is-6">
            <div class="title is-size-5">Nest-Mates</div>
            {{#each nestmates as |nestmate|}}
            <div>{{nestmate.first_name}} {{nestmate.last_name}} - <a
                    href="mailto:{{nestmate.email}}">{{nestmate.email}}</a></div>
            {{/each}}

        </div>
        <div id="nest-actions-card" class="column card is-3">
            <div class="title is-size-5">Actions</div>
            <div class="m-1"><button id="add-task-btn" class="button is-fullwidth has-text-weight-semibold is-primary">Add Task</button></div>
            <div class="m-1"><button id="update-nest-btn" class="button is-fullwidth has-text-weight-semibold is-info">Update Nest Info</button></div>
            <div class="m-1"><button id="leave-nest-btn" class="button is-fullwidth has-text-weight-semibold is-danger">Leave Nest</button></div>

        </div>
    </div>
</section>

<section id="mynest-cards">
    <div class="box m-4 mb-6 mt-6">
        <h4 class="title is-4">Monthly Assignments - Next 2 Months</h4>
        <div class="columns is-multiline p-3">
            {{#each monthlyAssignments as |mAssignment|}}
            {{>assignment-card mAssignment}}
            {{/each}}
        </div>
    </div>

    <div class="box m-4 mb-6 mt-6">
        <h4 class="title is-4">Weekly Assignments - Next 3 Weeks</h4>
        <div class="columns is-multiline p-3">
            {{#each weeklyAssignments as |wAssignment|}}
            {{>assignment-card wAssignment}}
            {{/each}}
        </div>
    </div>

    <div class="box m-4 mb-6 mt-6">
        <h4 class="title is-4">Daily Assignments - Next 3 Days</h4>
        <div class="columns is-multiline p-3">
            {{#each dailyAssignments as |dAssignment|}}
            {{>assignment-card dAssignment}}
            {{/each}}
        </div>
    </div>

    <div id="add-task-modal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                {{>addtask}}
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <div id="Update-Nest-Info-modal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                {{>update-nest-info}}
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <div id="update-user-info-modal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                {{>update-user}}
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>

</section>
<script src="/javascript/mynest.js"></script>
<script src="/javascript/complete.js"></script>